<div class="span6 result-grid" style="margin-bottom:10px;margin-top:10px;height:264px;">
  <iframe width="460" height="263" src="http://www.youtube.com/embed/<%= video.unique_id %>" frameborder="0" allowfullscreen></iframe>
</div>
