<div class="span6 result-grid" style="margin-bottom:10px;margin-top:10px;height:<%= video[:height] || 264 %>px;">
  <% if video[:embed_code] %>
    <%= video[:embed_code].html_safe %>
  <% else %>
    <iframe width="460" height="263" src="<%= video[:embed_url] %>" frameborder="0" allowfullscreen></iframe>
  <% end %>
</div>
