<style>
  html, body, .container, .row, .span12 {
    height:100%;
  }
</style>
<div class="row">
  <div class="span12" style="text-align:center;height:100%;" >
    <table style="width:100%;height:100%;"><tr><td>
      <%= image_tag "logo.png", :class => "main-logo" %>
      <form class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <div class="controls" style="margin:0;">
              <div class="input-append">
                <input class="span6 search-input" id="appendedInputButton" size="16" type="text" ><button class="btn search-btn" type="button" ><img src="/assets/search.png" style="max-height:12px;max-width:12px;padding-top:5px;"></img></button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="home-footer">
        Vizbu &copy; 2012 <%= link_to "Blog", "http://blog.vizbu.com" %> <%= link_to "About", "/about" %>
      </div>
      <div class="social-buttons">

        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.vizbu.com">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.vizbu.com%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=284529138288915" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:105px; height:21px;" allowTransparency="true"></iframe>
        
        <!-- Place this tag where you want the +1 button to render -->
        <g:plusone size="medium" annotation="inline" width="120"></g:plusone>

        <!-- Place this render call where appropriate -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      </div>
    </td></tr></table>
  </div>
</div>
