<div class="row">
  <div class="span12 center-text" >
    <a class="medium-logo-link" href="/" style="padding:10px;display:block;"><%= image_tag "logo.png" %></a>
    <p>
      <h1 style="color:#d33;">An error has occured</h1>
    </p>
    <p>
      The page you were looking for has encountered a problem
    </p>
    <br />
  </div>
</div>
<div class="row">
  <div class="span12 home-main-container" style="text-align:center;height:100%;" >
    <table style="width:100%;height:100%;"><tr><td style="position:relative;">
      <%= render "search_form" %>
    </td></tr></table>
  </div>
</div>
<div class="row">
  <div class="span12 home-main-container" style="text-align:center;height:100%;" >
    If you repeatedly encounter this problem please contact <a href="mailto:contact@vizbu.com">contact@vizbu.com</a> or send <a href="/feedback">feedback</a>
  </div>
</div>
