<div class="row">
  <div class="span12">
    <a class="medium-logo-link" href="/" style="padding:10px;display:block;"><%= image_tag "logo.png" %></a>
  </div>
  <div class="span12">
    <hr />
  </div>
  <div class="span12" style="">
    <p>
    Thanks for your feedback.
    </p>
    
    <p>
    <a href="/">Continue searching on vizbu</a>
    </p>
    
    <p>
    See <a href="/about">about page</a> for other places to get in touch
    </p>

  </div>
</div>
